body {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  background-image: url(img/search-img.jpg);
}

.jumbotron {
    background-color:transparent !important;
}

.navbar {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

/* .card-img-top {
    border: 2px solid gray;
    margin: 10px;
    padding: 0 !important;
    object-fit: scale-down;
} */

.card {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.border-3 {
    border-width: 10px !important;
    border-color: #1B1B1B !important;
}