/* || general styles */

html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

body {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}



h1, h2,
.input-field,
button {
  font-family: 'Raleway', sans-serif;
}

/* header styles */

h1 {
  font-size: 4rem;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
}

a {
  font-size: 2em;
  text-decoration: none;
  color: black;
}

p {
  font-size: .5em;
  text-align: left;
  padding-top: 28px;
  width: 95%;

}

/* section styles */


h2 {
  font-size: 2.5rem;
  /* letter-spacing: -5px; */
  margin-bottom: 10px;
  /* float: left;
  width: 50% */
}

.search-row {
  display: flex;
  padding: 10px;
  justify-content: space-around;
}

.responsive-img {
  order: 1;
  margin: auto;
}

.search-img {
  margin: auto;
}

.content {
  order: -1;
  width: 70%;
}

.articleIcon {
  width: 250px;
}

.card-image {
  height: 100%;
}

.debug {
  border: 2px solid red;
}

#search-term {
   width: 250px;
   height: 20px;
   margin-top: 30px;
}

.input-field {
  text-align: center;
  padding-bottom: 30px;
}

input#search-term {
  background-color: white;
  background-position: 0px 10px;
  background-repeat: no-repeat;
  padding-left: 6px;
  width: 70%;
  margin-right: 10px;
  font-size: 1em;
  border-radius: 8px;
}

input {
  padding-right: 10px;
}

input, button {
  padding: 10px;
}

button {
  width: 75px;
  border-radius: 8px;
}

button#submit {
  margin-right: 5px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}